.plusBtn{
    position: fixed;
    right: 20px;
    bottom: 180px;
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 90, 90);
}

.minusBtn{
    position: fixed;
    right: 20px;
    bottom: 100px;
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 90, 90);
}

@media screen {
    .minusBtn, .plusBtn{
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .minusBtn, .plusBtn{
      display: none;
    }
}

@media print {
    .minusBtn, .plusBtn{
        display: none;
    }
}

.minusBtn span, .plusBtn span{
    color: white;
}